<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Nautilus usage warning</title>
    <style type="text/css">
      body{
        margin: 0 auto;
        padding: 0;
        min-width: 100%;
        font-family: sans-serif;
      }
      table{
        margin: 50px 0 50px 0;
      }
      .content{
        height: 100px;
        font-size: 18px;
        line-height: 30px;
      }
    </style>
  </head>
  <body bgcolor="#dcdcdc">
    <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="content">
        <td style="padding:10px;">
          <p>
            Dear Nautilus user,<br/>
            In order to eliminate the waste of resources, we're cleaning the PODs running for more than 2 weeks.<br/>
            The monitoring system found that you are the member of the namespace <b>{{.meta.Namespace}}</b>, in which {{.kind}} <b>{{.meta.Name}}</b> has been started more than 2 weeks ago on {{.meta.CreationTimestamp}}.<br/>
            Your {{.kind}} will be shutdown automatically after 3 warnings unless you request an exception from this policy for your namespace by contacting us.<br/>
            Thank you for understanding
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
